@import "rules";
@import "colors";
@import "media-queries";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

.container {

    background-image: Radial-Gradient(circle at top ,hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: 100vh;
    @extend %align-center;
    justify-content: flex-start;

    .rules-btn {
        position: fixed;
        bottom: 8%;
        font-size: 1.1rem;
        width: 130px;
        height: 40px;
        background-color: transparent;
        color: white;
        border-radius: 10px;
        border: 1px solid white;
        cursor: pointer;
    }
}


.score-area {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px;
    width: calc(100% - 100px);
    border-radius: 10px;
    border: solid 3px $light;
    height: 110px;
    
    @include desktop {
        max-width: 800px;
    }

    img {
        height: 80%;
        aspect-ratio: 1/1;
    }

    .score-board {
        position: relative;
        cursor: pointer;
        background-color: white;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 5px;
        @extend %align-center;
    }

    .score-title {
        font-size: 0.7rem;
        color: $accent;
    }
    
    .score {
        font-size: 2.2rem;
        font-weight: 700;
        color: $dark;
    }

    .display-hint {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: white;
        font-size: .8rem;
        text-align: center;
        color: $dark;
        padding: 10px;
        @extend %align-center;
        animation: wink 1.5s infinite ease-in-out;
    }

    @keyframes wink {
        0% {color: $dark}
        40% {color: $dark}
        50% {color: #fff}
        60% {color: $dark}
        100% {color: $dark}
    }

}

.game-area {
    
    @include desktop {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .select-stage {
        display: none;
        height: 100vh;
        @extend %align-center;


        .pentagon-container {
            position: relative;
        }

        .pentagon {
            width: 235px;
            aspect-ratio: 1/1;

                    
            @include desktop {
                width: 350px;
            }
        }
        
        .choose {
            @extend %align-center;
            position: absolute;
            width: 104px;
            aspect-ratio: 1/1;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;

            @include desktop {
                width: 160px;
            }

            img {
                transform: scale(0.7);
                background-color: white;
            }
        }

    }

    .result-stage {
        
        position: fixed;
        top: 160px;
        left: 0;
        padding: 0 50px;
        bottom: 40%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
           
        @include desktop {
            position: relative;
            height: calc(100% - 400px);
            max-width: 800px;
            align-items: center;
            bottom: 15%;  
        }

        .player-col {
            position: relative;
            @extend %align-center;

            .result-choose {
                @extend %align-center;
                width: 120px;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
            
            .player-name {
                width: max-content;
                font-size: 1rem;
                color: white;
                position: absolute;
                top: calc(50% + 80px);
            }
        }

        .game-status {
            text-align: center;
            color: white;
            font-size: 2.5rem;
            position: fixed;
            left: calc(50% - 120px);
            width: 240px;
            height: calc(40vh - 14%);
            top: 60%;

            @include desktop {
                position: relative;
                top: auto;
                left: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .restart-btn {
                color: $dark;
                letter-spacing: 0.2rem;
                width: 100%;
                height: 50px;
                font-size: 1.2rem;
                font-weight: 600;
                border-radius: 10px;
                margin-top: 15px;
                cursor: pointer;
            }
        }
    }
}


.choose-bg {
    @extend %align-center;
    background-color: white;
    width:75%;
    height:75%;
    border-radius: 50%;
    box-shadow: inset 0px 3px 2px 1px #c2c2c2;
}

.scissors {
    top: calc(2% - 52px);
    left: calc(49% - 52px);
    background-image: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: inset 0px -3px 1px 1px hsl(40, 84%, 43%);

    @include desktop {
        top: calc(2% - 80px);
        left: calc(49% - 80px);            
    }
}

.spock {
    top: calc(40% - 52px);
    left: calc(0% - 52px);
    background-image: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    box-shadow: inset 0px -3px 1px 1px hsl(189, 58%, 37%);

    @include desktop {
        top: calc(40% - 80px);
        left: calc(0% - 80px);            
    }
}

.paper {
    top: calc(40% - 52px);
    left: calc(99% - 52px);
    background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: inset 0px -3px 1px 1px hsl(230, 89%, 56%);

    @include desktop {
        top: calc(40% - 80px);
        left: calc(99% - 80px);            
    }
}

.lizard {
    top: calc(97% - 52px);
    left: calc(19% - 52px);
    background-image: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    box-shadow: inset 0px -3px 1px 1px hsl(261, 72%, 43%);

    @include desktop {
        top: calc(97% - 80px);
        left: calc(19% - 80px);            
    }
}

.rock {
    top: calc(97% - 52px);
    left: calc(79% - 52px);
    background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: inset 0px -3px 1px 1px hsl(349, 70%, 36%);

    @include desktop {
        top: calc(97% - 80px);
        left: calc(79% - 80px);            
    }
}


.hide {
    display: none;
}